<!DOCTYPE html>
<html>
<head>
    <% include ../common/head %>
</head>
<body>
    <% include ../common/header %>
    <div class="board-wrap content-wrap">
        <h1>Board</h1>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Subject</th>
                    <th>Writer</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="LIST_tbody">
                <% for(var i = 0, len = list.length; i < len; i++) { %>
                    <% var item = list[i] %>
                    <% var href = session.passport.user.email === item.author ? '/board/update' : '/board/read'; %>
                    <% href += '/' + item.numId; %>
                    <tr>
                        <td><%= item.numId %></td>
                        <td><a href="<%= href %>" class="js-subject"><%= item.title %></a></td>
                        <td><%= item.author %></td>
                        <td><%= formatDate(item.createdAt, 'YYYY.MM.DD') %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="text-right">
            <a href="/board/write" id="LIST_write_btn" class="btn btn-lg btn-primary">글쓰기</a>
        </div>
        <!-- <div class="text-center">
            <ul class="pagination">
                <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">4</a></li>
                <li><a href="#fakelink">5</a></li>
                <li><a href="#fakelink">6</a></li>
                <li><a href="#fakelink">7</a></li>
                <li><a href="#fakelink">8</a></li>
                <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
            </ul>
        </div> -->
    </div>
    <% include ../common/footer %>

    <script type="text/javascript">
        $(function() {
            $('#LIST_write_btn').on('click', function() {
                $.ajax({
                    url: this.href,
                    success: function(data) {
                        $(data).modal();
                    }
                })
                return false;
            });

            $('#LIST_tbody').on('click', '.js-subject', function() {
                $.ajax({
                    url: this.href,
                    success: function(data) {
                        $(data).modal();
                    }
                })
                return false;
            });
        });
    </script>
</body>
</html>
